@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #444444;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.3rem;
}

p {
  font-size: .7rem;
  color: #888888;
  margin-bottom: 0;
  letter-spacing: 0;
  line-height: 20px;
}

a {
  font-size: inherit;
  color: inherit;
}

a:focus, 
a:hover {
  color: #48b81c !important;
  text-decoration: underline;
}


.section {
    padding: 0;
}
  
.signup {
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  
.centercontainer{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}
  
.block {
    display: flex;
}
  
.image {
    margin-right: 2.6rem;
    flex-basis: 100%;
}
.image img {
    border-radius: 8px 8px;
}
  
.content {
    padding: 3.3rem;
    border-left: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 0px;
    align-self: center;
    flex-basis: 100%;
}
  
.logo {
    margin-bottom: 5.3rem;
}
.logo img{
    width: 120px;
    height: auto;
}
  
.title {
    margin-bottom: 2.3rem;
}
.title h1 {
    padding-bottom: 1.3rem;
    border-bottom: 1px solid #dddddd;
}
.title h1 span{
    color: #48b81c !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}
  
.account {
    margin-top: 1.3rem;
}
.account p {
    color: #888888;
}
.account a {
    color: #444444;
}